## Root directory includes
include LICENSE
include *.md

## Include all sources files
recursive-include tox_setuptools_version *

## Exclude everything that is not needed
recursive-exclude tests *
recursive-exclude test_setuptools_version/__pycache__ *
exclude bumpversion.cfg
exclude azure-pipelines.yml
exclude MANIFEST.in
exclude sonar-project.properties
exclude tox.ini
exclude .gitignore


